<div class="system-info">
  <div class="app-container calendar-list-container">
    <el-table :data="tableData" v-loading="paging.isLoading" :element-loading-text="$t('table.loading')" border fit
              highlight-current-row style="width: 100%"
    >
      <el-table-column prop="System" :label="$t('system.info.system')" min-width="100%">
        <template slot-scope="scope">{{ $t(scope.row.system) }}</template>
      </el-table-column>
      <el-table-column prop="Version" :label="$t('system.info.version')" min-width="300%">
        <template slot-scope="scope">
          <a class="link-type" :href="scope.row.link" target="_blank" v-if="scope.row.link">{{ scope.row.version }}</a>
          <span v-else>{{ scope.row.version }}</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</div>
